.bigcommunitysection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFFFFF;
  }
  .BigCommunitySection-h2 {
    width: 669px;
    size: 48px;
    line-height: 64px;
    text-align: center;
    color: rgba(70, 69, 71, 1);
  }
  .BigCommunitySection-p {
    width: 561px;
    size: 24px;
    line-height: 32px;
    text-align: center;
    margin: auto;
    color: rgba(102, 102, 102, 1);
  }
  .BigCommunitySection-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .BigCommunitySection-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .community-li {
    justify-content: space-evenly;
    align-items: center;
    Width: 315px;
    Height:400px;
  }
  
  .community-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }