.join-us {
    background: linear-gradient(to top, rgba(5, 17, 18, 0.5), rgba(5, 17, 18, 0.5)), url('../assets/images/MaskGroup.png');  
    height: 436px; 
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    align-items: center;
    align-content: center;
    justify-content: space-around;
    
  }
  .join-us-h2 {
    text-align: center;
    Width: 480px; 
    Height: 47px;
    color: red;
    size: 48px;
  }
  .join-us-p {
    text-align: center;
    width: 452px;
    height: 54px;
    size: 24px;
    color: rgba(255, 255, 255, 0.7);
    opacity: 70%;
  }
  .join-us-form {
    width: 400px;
    height: 36px;
    background:rgba(255, 255, 255, 0.15);
    border: none;
  }
  .join-us-form::placeholder {
    color:#FFFFFF;
  }
  .join-us-button {
    width: 78px; 
    height: 25px; 
    background: #55C2D8; 
    border: none; 
    border-radius: 30px; 
    color: #FFFFFF; 
    margin-left: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
  }